<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WeiboTools.Properties.WeiboOAuth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WeiboTools.Properties.Crawler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WeiboCrawler.Properties.Crawler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WeiboCrawler.Crawler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WeiboCrawler.Properties.WeiboOAuth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WeiboTools.Properties.WeiboOAuth>
            <setting name="AccessToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value>744917056</value>
            </setting>
            <setting name="AppSecrect" serializeAs="String">
                <value>9880920d66a7eb371e708992c6b65a1a</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>http://127.0.0.1</value>
            </setting>
            <setting name="WeiboPassword" serializeAs="String">
                <value>Richbird123</value>
            </setting>
            <setting name="WeiboUser" serializeAs="String">
                <value>silver6wings</value>
            </setting>
        </WeiboTools.Properties.WeiboOAuth>
        <WeiboTools.Properties.Crawler>
            <setting name="basePath" serializeAs="String">
                <value>../_Data/</value>
            </setting>
            <setting name="picPath" serializeAs="String">
                <value>../_Data/Pictures/</value>
            </setting>
            <setting name="weiboPath" serializeAs="String">
                <value>../_Data/Weibo/</value>
            </setting>
        </WeiboTools.Properties.Crawler>
        <WeiboCrawler.Properties.Crawler>
            <setting name="basePath" serializeAs="String">
                <value>../../_Data/</value>
            </setting>
            <setting name="picPath" serializeAs="String">
                <value>../../_Data/Pictures/</value>
            </setting>
            <setting name="weiboPath" serializeAs="String">
                <value>../../_Data/Weibo/</value>
            </setting>
        </WeiboCrawler.Properties.Crawler>
        <WeiboCrawler.Crawler>
            <setting name="weiboPath" serializeAs="String">
                <value>Data/weibo</value>
            </setting>
            <setting name="picPath" serializeAs="String">
                <value>Data/pic</value>
            </setting>
        </WeiboCrawler.Crawler>
        <WeiboCrawler.Properties.WeiboOAuth>
            <setting name="AccessToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value>744917056</value>
            </setting>
            <setting name="AppSecrect" serializeAs="String">
                <value>9880920d66a7eb371e708992c6b65a1a</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>http://127.0.0.1</value>
            </setting>
            <setting name="WeiboUser" serializeAs="String">
                <value>silver6wings</value>
            </setting>
            <setting name="WeiboPassword" serializeAs="String">
                <value>Richbird123</value>
            </setting>
        </WeiboCrawler.Properties.WeiboOAuth>
    </userSettings>
</configuration>
